/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#play:hover {
  -fx-color-one: #981100;
  -fx-color-two: #981100;
  -fx-color-three: #981100;
}


